# Default ignored files
/compiler.xml
/jarRepositories.xml
/misc.xml
/uiDesigner.xml
/workspace.xml
/authentication/target
/databaseconnection/target
/exception/target
/studentrecord/target
/userinput/target
/validation/target
